extends layout

block content

  div.gallery
    
    //div.gallery__btn.gallery__btn--prev
    //div.gallery__btn.gallery__btn--next
      
    //div.gallery__item
    //  img(src='/images/fun.jpg').gallery__img
