<div class="paint-app"></div>
<script type="text/javascript">
    var categories = [
      {
        name: 'all'
      },
      {
        name: 'oil'
      },
      {
        name: 'acrylic'
      },
      {
        name: 'charcoal'
      }
    ]
    
    var paints = [
      {
        title:    'fun',
        category: 'oil',
        imageSrc: 'fun.jpg'
      },
      {
        title:    'lisa',
        category: 'oil',
        imageSrc: 'lisa.jpg'
      },
      {
        title:    'wide',
        category: 'acrylic',
        imageSrc: 'wide.jpg'
      },
      {
        title:    'portrait',
        category: 'oil',
        imageSrc: 'portrait.jpg'
      },
      {
        title:    'square',
        category: 'charcoal',
        imageSrc: 'square.jpg'
      },
      
    ];
</script>
<script type='text/template', id='page-nav-template'>
    <header>
      <h2>Karapixie</h2>
      <nav>
        <ul>
          <li>
            <a href='/about/'>about</a>
          </li>
          <li>
            <a href='/contact/'>contact</a>
          </li>
          <li>
            <a href='/#paints/'>paints</a>
          </li>
        </ul>
      </nav>
    </header>
</script>

<script type='text/template' id='paint-thumb-template'>
  <a class='paint--thumb' href='<%= "#paints/category-" + category  + "/page-" + pageNum + "/paint-" + paint.get("title") %>'> 
    <img src='<%= "/images/" + paint.get("imageSrc") %>' alt=''/>
    <p class="paint__title"> <%= paint.get('title') %> </p>
      
  </a>
</script>   

<script type='text/template' id='paint-full-template'>
  <h3> <%= paint.get('title') %> </h3>
  <img class='paint--full' src='<%= "/images/" + paint.get("imageSrc") %>' alt=''/>
</script>  

<script type='text/template' id='category-template'>
  <a href='<%= "#paints/category-" + category.get("name") %>'> <%= category.get('name') %></a>
</script>  

<script type='text/template' id='paint-controls-template'>
  <p class='next'>next</p>
  <p class='prev'>prev</p>
</script>

<script type="text/template" id="paginator-button-template">
  
  <a href='<%= "#paints/category-" + category + "/page-" + pageNum %>'> <%= pageNum %></a>
  
</script>

<script type='text/template' id='paginator-controls-template'>
  <p class='paginator-control--next'>next</p>
  <p class='paginator-control--prev'>prev</p>
</script>

<script type="text/template" id='breadcrumb-template'>
  <a href='<%= "#paints" %>'> paints </a>
  <a href='<%= "#paints/category-" + category %>'> <%= category %> </a>
  <a href='<%= "#paints/category-" + category + "/page-" + pageNum %>'> <%= pageNum %> </a>
</script>

<script src='bower_components/zepto/zepto.min.js'></script>
<script src='bower_components/underscore/underscore-min.js'></script>
<script src='bower_components/backbone/backbone.js'></script>
<script src='js/models.js'></script>
<script src='js/collections.js'></script>
<script src='js/views.js'></script>
<script src='js/filters.js'></script>
<script src='js/paginator.js'></script>
<script src='js/controllers.js'></script>
<script src='js/routes.js'></script>
