doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='style.css')
  body
    block content

    script.
      var categories = [
        {
          name: 'all'
        },
        {
          name: 'oil'
        },
        {
          name: 'acrylic'
        },
        {
          name: 'charcoal'
        }
      ]
      
      var paints = [
        {
          title:    'fun',
          category: 'oil'
        },
        {
          title:    'wide',
          category: 'acrylic'
        },
        {
          title:    'portrait',
          category: 'oil'
        },
        {
          title:    'square',
          category: 'charcoal'
        },
        
      ];
      
    script(type='text/template', id='page-nav-template').
      <header>
        <h2>Karapixie</h2>
        <nav>
          <ul>
            <li>
              <a href='/about'>about</a>
            </li>
            <li>
              <a href='/contact'>contact</a>
            </li>
            <li>
              <a href='/#paints'>paints</a>
            </li>
          </ul>
        </nav>
      </header>
    
    script(type='text/template', id='paint-thumb-template').
      <%= paint.get('title') %>
      
    script(type='text/template', id='paint-full-template').
      <%= paint.get('title') %>
    
    script(type='text/template', id='category-template').
      <%= category.get('name') %>
    
    script(type='text/template', id='paint-controls-template').
      <div class='navigation'>
        <p class='next'>next</p>
        <p class='prev'>prev</p>
      </div>
    
    script(src='bower_components/zepto/zepto.min.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/backbone/backbone.js')
    script(src='js/models.js')
    script(src='js/collections.js')
    script(src='js/views.js')
    script(src='js/routes.js')
  //  
    script.


      var app = app || {};

      app.Paint = Backbone.Model.extend({

        defaults: {
          title:    'untitled',
          srcDir:   '/images/',
          category: ''
        },

        initialize: function() {},
      
      });

      app.Gallery = Backbone.Collection.extend({

        model: app.Paint,

        initialize: function() {
          _.bindAll(this, 'nextPaint', 'prevPaint');
          this._paintIndex = 0;
        },

        nextPaint: function() {

          var next;
          if (this._paintIndex >= this.length) {
            this._paintIndex = 0;  
          }

          
          next = this.at(this._paintIndex);
          this._paintIndex += 1;
          return next;
        },

        prevPaint: function() {
        
        },

        filterByCategory: function(category) {
          var filtered = this.filter(function(paint) {
            return paint.get('category') == category;
          }); 

          return filtered;
        },

        categories: function() {
          return _.uniq(this.pluck('category'));
        },

      });

      app.PaintView = Backbone.View.extend({
      
        tagName: 'div',

        className: 'paint',

        template: _.template($('#paint-template').html()),

        initialize: function() {},

        render: function() {
          this.$el.html(this.template({paint: this.model}));
          return this;
        },

      });

      app.PaintThumbView = app.PaintView.extend({

        template: _.template($('#paintThumb-template').html()),

      });

      app.GalleryListView = Backbone.View.extend({
 
        url: '/gallery',

        el: 'div',

        className: 'paints',

        template: _.template($('#gallery-template').html()),

        initialize: function() {
          this.listenTo(this.collection, 'reset', this.render, this);
        },

        render: function() {
          this.$el.empty();

          this.$el.html(this.template(
            {categories: this.collection.categories()}
          ));

          this.collection.each(function(paint) {
            this.renderPaint(paint);
          }, this);
        },

        renderPaint: function(paint) {
          var paintView = new app.PaintThumbView({model: paint});
          this.$el.append(paintView.render().el);
        },


      });

      app.GalleryLinkedListView = app.GalleryListView.extend({

        render: function() {
          this.$el.empty();
          var paintView = new app.PaintView({model: this.collection.nextPaint()});
          this.$el.append(paintView.render().el);
        },

      });

      var gallery = new app.Gallery(paints);
      var filtered = new app.Gallery(paints); 
      var galleryListView = new app.GalleryListView({collection: filtered});
      var galleryLinkedListView = new app.GalleryLinkedListView({collection: filtered});

      $(function() {
        app.GalleryNavigationView = new (Backbone.View.extend({

          template: _.template($('#galleryNavigation-template').html()),

          events: {
            'click .btn--next': 'next',
            'click .btn--prev': 'prev'
          },

          initialize: function() {
            _.bindAll(this, 'next', 'prev', 'render');
          },

          render: function() {
            $(this.el).html(this.template());
            return this;
          },

          next: function() {
            this.trigger('next');
          },

          prev: function() {
            this.trigger('prev');
          }

        }))({el: '.gallery__nav'}).render();
          
          app.GalleryNavigationView.bind(
            'next', gallery.nextPaint
          );
      });


      // ROUTES
      var Router = Backbone.Router.extend({
        routes: {
          'gallery(/)': 'galleryList',
          'gallery/:query()': 'galleryLinkedList'
        }
      });
      var router = new Router();

      router.on('route:galleryList', function() {
        galleryListView.render();
      });

      router.on('route:galleryLinkedList', function() {
        galleryLinkedListView.render();
      });

      Backbone.history.start();
