doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
  body
    block content
    script(type='text/template', id='paint-list-template').
      
      <h1>Paints</h1>

      <ul>
        <% _.each(paints, function(paint){ %>
          <li>
            <div class='paint'>
              <h4 class='paint__title'><%= paint.get('title') %></h4> 
              <div class='paint__img'>
                <a href='<%= "/#paints/" + paint.get("title") %>'>
                <img src='<%= "/images/" + paint.get("src") %>' />
                </a>
              </div>
            </div>
          </li>
        

      <% }); %>
    
    script(type='text/template', id='paint-template').

      <div class='btn btn--prev'></div>
      <div class='btn btn--next'></div>
      <h1><%= paint.get('title') %></h1>
      <img src='<%= "/images/" + paint.get("src")  %>' />
    
    script(type='text/template', id='home-template').
      
      <h1>Karapixie</h1>
      
      <nav>
        <ul>
          <l1>
            <a href='/#paints'>paints</a>
          </li>
          <l1>
            <a href='/#about'>about</a>
          </li>
          <l1>
            <a href='/#contact'>contact</a>
          </li>
        </ul>
      </nav>

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/backbone/backbone.js')
    script.

      // ROUTER
      var Router = Backbone.Router.extend({
        routes: {
          '': 'home',
          'paints': 'paintList',
          'paints/:query': 'paints'
        }
      });

      var router = new Router();


      
      // MODELS 
      var PaintModel = Backbone.Model.extend({
        urlRoot: '/paints' 
      });

      // COLLECTIONS
      var PaintCollection = Backbone.Collection.extend({
        url: '/paints'
      });

      // VIEWS
      var PaintListView = Backbone.View.extend({
        el: 'body',
        template: _.template($('#paint-list-template').html()),
        render: function() {
          var that = this;
          var paintCollection = new PaintCollection();
          paintCollection.fetch({
            success: function(paints) {
              that.$el.html(that.template({paints: paints.models}));
            }
          })
        }
      });
      

      var PaintView = Backbone.View.extend({
        model: PaintModel,
        
        template: _.template($('#paint-template').html()),
        
        el: 'body',

        events: {
          'click .btn--next': 'next',
          'click .btn--prev': 'prev'
        },

        next: function() {
          router.navigate('paints/' + this.paintModel.get('next'), {trigger: true});
        },
        
        prev: function() {
          router.navigate('paints/' + this.paintModel.get('prev'), {trigger: true});
        },
        
        initialize: function() {
          this.paintModel = new PaintModel();
        },

        render: function(paintTitle) {
          var that = this;
          this.paintModel.set('id', paintTitle);
          this.paintModel.fetch({
            success: function(paint) {              
              that.$el.html(that.template({paint: paint}));
            }
          })
        }
      });

      var Home = Backbone.View.extend({
        template: _.template($('#home-template').html()),
        el: 'body',
        render: function() {
          this.$el.html(this.template());
        }
      });

      // ROUTES
      var home = new Home();
      router.on('route:home', function() {
        home.render();
      });

      var paintView = new PaintView();
      router.on('route:paints', function(query) {
        paintView.render(query); 
      });


      var paintListView = new PaintListView();
      router.on('route:paintList', function() {
        paintListView.render();
      });
      
      Backbone.history.start();
