doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
  body
    block content
    script(type='text/template', id='paint-list-template').
      
      <h1>Paints</h1>

      <% _.each(paints, function(paint){ %>
        <p><%= paint.get('title') %></p> 

      <% }); %>

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/backbone/backbone.js')
    script.
      
      var Paints = Backbone.Collection.extend({
        url: '/paints'
      });

      var PaintList = Backbone.View.extend({
        el: 'body',
        render: function() {
          var that = this;
          var paints = new Paints();
          paints.fetch({
            success: function(paints) {
              var template = _.template($('#paint-list-template').html());
              that.$el.html(template({paints: paints.models}));
            }
          })
        }
      });
      
      var Home = Backbone.View.extend({
        el: 'body',
        render: function() {
          this.$el.html('Hello world');
        }
      });

      var Router = Backbone.Router.extend({
        routes: {
          '': 'home',
          'paints': 'paints'
        }
      });

      var router = new Router();

      var home = new Home();
      router.on('route:home', function() {
        home.render();
      });

      var paintList = new PaintList();
      router.on('route:paints', function() {
        console.log('paints');
      });


      Backbone.history.start();
