doctype html
html
  head
    title= title
    link(rel='stylesheet', href='style.css')
  body
    block content
    script(type='text/template', id='paint-list-template').

      <ul>
        <% _.each(['all', 'oil', 'acrylic'], function(category) { %>
          <li><a href= '<%= "/#paints/category/" + category %>' > <%= category %></a></li>

        <% }); %>
        <li></li>
      </ul>

      <ul>
        <% _.each(paints, function(paint){ %>
          <li>
            <div class='paint'>
              <h4 class='paint__title'><%= paint.get('title') %></h4> 
              <div class='paint__thumb'>
                <a href='<%= "/#paints/" + paint.get("title") %>'>
                <img src='<%= "/images/" + paint.get("src") %>' />
                </a>
              </div>
            </div>
          </li>
        

      <% }); %>
    
    script(type='text/template', id='paint-template').
      
      <div class='btn btn--prev'></div>
      <div class='btn btn--next'></div>
      <img class='paint__img' src='<%= "/images/" + paint.get("src")  %>' />
    
    script(type='text/template', id='header-template').
      
      <h1>Karapixie</h1>
      <div class='menu'>menu</div>

    script(type='text/template', id='home-template').
       
      <nav>
        <ul>
          <l1>
            <a href='/#paints'>paints</a>
          </li>
          <l1>
            <a href='/#about'>about</a>
          </li>
          <l1>
            <a href='/#contact'>contact</a>
          </li>
        </ul>
      </nav>

    script(src='bower_components/zepto/zepto.min.js')
    //script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/backbone/backbone.js')
    script.

      // ROUTER
      var Router = Backbone.Router.extend({
        routes: {
          '': 'home',
          'paints(/)':              'paintList',
          'paints/category/:query(/)': 'byCategory',
          'paints/:query': 'paints'
        }
      });

      var router = new Router();


      
      // MODELS 
      var PaintModel = Backbone.Model.extend({
        urlRoot: '/paints' 
      });

      // COLLECTIONS
      var PaintCollection = Backbone.Collection.extend({
        url: '/paints'
      });

      // VIEWS
      var PaintListView = Backbone.View.extend({
        model: 'PaintModel',
        el: '.paints',
        template: _.template($('#paint-list-template').html()),
        events: {
          'click .paint__thumb': 'closeMenu'
        },

        closeMenu: function() {
          $('.paints').hide();
        },

        filterByCategory: function(paints, category) {
          var filtered = paints.filter(function(item) {
            return item.get('category') == category;
          });
          return new PaintCollection(filtered);
        },

        render: function(query) {
          var that = this;
          var paintCollection = new PaintCollection();
          paintCollection.fetch({
            success: function(paints) {

              if (query == 'all') {
              that.$el.html(that.template({paints: paints.models}));
                
              }
              else if (query != undefined) {
                paints = that.filterByCategory(paints, query);
                console.log(paints);
              }
              
              that.$el.html(that.template({paints: paints.models}));
              
            }
          })
        }
      });
      

      var PaintView = Backbone.View.extend({
        model: PaintModel,
        
        template: _.template($('#paint-template').html()),
        
        el: '.paint',

        events: {
          //'click .menu':      'menu',
          'click .btn--next': 'next',
          'click .btn--prev': 'prev'
        },

        //menu: function() {
        //  this.paintListView.show(); 
        //},

        next: function() {
          router.navigate('paints/' + this.paintModel.get('next'), {trigger: true});
        },
        
        prev: function() {
          router.navigate('paints/' + this.paintModel.get('prev'), {trigger: true});
        },
        
        initialize: function() {
          this.paintModel = new PaintModel();
        
          //this.paintListView = new PaintListView();
          //this.paintListView.$el.hide();
        },

        render: function(paintTitle) {
          var that = this;
          this.paintModel.set('id', paintTitle);
          this.paintModel.fetch({
            success: function(paint) {              
              that.$el.html(that.template({paint: paint}));
            }
          })
        }
      });

      var HeaderView = Backbone.View.extend({
        template: _.template($('#header-template').html()),
        el: 'header',
        events: {
          'click .menu': 'menu'
        },

        menu: function() {
          //var paintListView = new PaintListView();
          $('.paints').toggle(); 
          //paintListView.render();
        },
        render: function() {
          this.$el.html(this.template());
        }
      });

      var Home = Backbone.View.extend({
        template: _.template($('#home-template').html()),
        el: 'body',
        render: function() {
          this.$el.html(this.template());
        }
      });

      // ROUTES
      
      var headerView = new HeaderView();


      var paintView = new PaintView();
      router.on('route:paints', function(query) {
        headerView.render();
        paintView.render(query); 
        paintListView.render();
      });


      var paintListView = new PaintListView();
      router.on('route:paintList', function() {
        headerView.render();
        paintListView.render();
      });
 
      router.on('route:byCategory', function(query) {
        headerView.render();
        paintListView.render(query);
      });

      var home = new Home();
      router.on('route:home', function() {
        home.render();
      });
      Backbone.history.start();
