body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.paint--thumb {
  display: inline-block;
  width: 150px;
}
.paint--thumb img {
  max-width: 100%;
}
.paint--full {
  max-width: 800px;
}
