html, body {
  height: 100%;
  background: #FEFEFE;
}
body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery, .gallery__item {
  height: 100%;
}

.gallery {
  position: relative;
}

.gallery__item {
  display: none;
}

.gallery__img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.btn {
  position: absolute;
  top: 50%;
  height: 48px;
  width: 48px;
  background: blue;
}

  .btn--prev {
    left: 0;
  }

  .btn--next {
    right: 0;
  }

ul li {
  display: inline-block;
  vertical-align: top;
  padding: 48px;
}

.paint__img {
  width: 200px;
  height: auto;
}

.paint__img img {
  max-width: 100%;
}

